

#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}
#mycarousel{
    background: blue;
}
#mycarousel img{
    height: 300px;
    margin-top: 40px;
}
/*Start your code from here */